.nav-link{
    font-weight: 700;
    font-size: 20px;
    color: black !important;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.nav-link:hover{
    background-color: rgb(170, 150, 147);
}
.nav-link:focus{
    color: rgb(134, 134, 113) !important;
}
